#BoxCard {
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 500px;
    margin: 0.5%;
    display: inline-block;
    background-color: #e4cbce;
    box-sizing: border-box; 
    border: 20px solid #e4cbce; 
  }
  
#Imgcard {
    border-radius: 25px;
    width: 400px;
  }

#LongBox {
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 100%;
    margin: 1%;
    display: inline-block;
    background-color: #dce0d9;
    box-sizing: border-box; 
    border: 20px solid #dce0d9; 
    flex-wrap: wrap;
  }
  
#Longimg {
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 150px;
    box-sizing: border-box; 
    border: 5px solid #595859; 
  }

#LongBoxRed {
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 90%;
    margin: 1% 5%;
    display: inline-block;
    background-color: #e4cbce;
    box-sizing: border-box; 
    border: 20px solid #e4cbce; 
    flex-wrap: wrap;
  }

    

        
  

      