#Adminbody{
    background-image: url(/public/images/AdminWallpaper.png);
    background-repeat: repeat;
    background-position: center;
    margin: 0;
    padding-bottom: 10%;
}

#AdminH1{
    font-family: Gowun;
    color: black !important;
    margin-top: 20px;
    padding: 0 10px;
    font-size: 28px;
    font-weight: 900 !important;
}

#AdminTabText{
    font-family: Gowun;
    color: black !important;
    font-weight: bolder !important;
}

.nav-pills{
    background-color: #dce0d9;
    transition: 200ms ease;
    height: 95vh!important;
    z-index: 1 !important;
    position: fixed !important;
    width: 6.45%!important;
}

.nav-pills:hover
{
    width: 12%!important;
}

.nav-pills:hover .Nav-Css{
    display: block;
}

.nav-pills:hover .nav-link svg{
    width: 70px;
}

.nav-item{
    width: 100%;
}

.nav-item:last-child{
    margin-top: auto;
}

.nav-link{
    align-items: center;
    height: 6rem;
    margin: 0;
    display: flex;
    text-decoration: none;
    filter: opacity(0.7);
    transition: .5s ease-in-out;
}

.nav-link.active{
    background-color: #808f85!important;
    fill: rgb(255, 255, 255);
    filter: opacity(1);
}

.nav-link.active .Nav-Css{
    color: #dce0d9 !important;
}

.nav-link:hover{
    filter: opacity(0.7);
    background-color: #808f85;
    fill: rgb(255, 255, 255);
}

.nav-link:hover .Nav-Css{
    filter: opacity(1);
    color: #dce0d9 !important;
}

.Nav-Css{
    padding: 5px;
    display: none;
    color: black;
    font-size: 20px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.1ch;
}

.nav-link svg{
    min-width: 2rem;
    margin: 0 .5rem 0 1rem;
    height: 60px;
    width: 60px;
}

.logo{
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 1.5rem;
    letter-spacing: 0.2ch;
    width: 100%;
    display: flex;
}

.logo svg{
    transform: rotate(0deg);
    width: 30px;
    transition: .4s ease-in-out;
    margin-top: 10px;
}

.nav-pills:hover .logo{
    margin-left: 17.54%;
}

.nav-pills:hover .logo svg{
    transform: rotate(-180deg);
}