.font-venue{
    font-size: 5em;
    font-weight: 900;
    padding-bottom: 40px;
}

#header-venue{
    padding: 20px 0 30px 0;
}

#Venueform{
    display: flexbox;
    background-color: #dce0d9;
    justify-content: center;
    border-radius: 10px;
    margin: 10px 20vh;
    padding: 20px;
}

#label{
    color: #31081f;
    font-size: 1.2em;
    font-weight: bolder;
}

#input{
    border: 2px solid #31081f;
    border-radius:5px;
}

#date-venue{
    width: 50vh;
}

@media screen and (max-width:769px) {
    .font-venue{
        font-size: 2em;
        padding-bottom: 30px;
    }
    
    #header-venue{
        padding: 20px 0 30px 0;
    }
    
    #Venueform{
        margin: 5vh;
        padding: 20px;
    }

    #date-venue{
        width: 18vh;
    }
    
}

@media screen and (max-width:1024px){
    .font-venue{
        font-size: 4em;
        padding-bottom: 30px;
    }
    
    #header-venue{
        padding: 20px 0 10px 0;
    }
    
    #Venueform{
        margin: 14vh;
        padding: 10px;
    }

    #date-venue{
        width: 18vh;
    }
}
   