.Heading-Text{
    padding: 20px;
}

.Heading-Text .profile-Head{
    display: block;
    height: 20%;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
}

.Heading-Text .font-size{
    font-size: 8em;
    font-weight: 900;
}

.Heading-Text .subfont-size{
    font-size: 1.8em;
    font-family: Gowun;
    font-weight: 800;
}

#container .Text{
    text-decoration: none;
    text-align: center;
}

#container-home{
    color: #31081f;
    margin-top: 20px;
    font-family: Gowun;
    font-size: 1em;
    font-weight: 200;
}

/*Homepage Grids*/

#Grid{
    background-color: #d7b3b7;
    border: 1px solid #31081f;
    padding: 10px 10px;
    align-items: center;
    text-align: center;
}

#Grid-B{
    background-color: #e4cbce;
    border: 1px solid #31081f;
    padding: 10px 10px;
    align-items: center;
    text-align: center;
}

.Home-P{
    padding: 10px;
    justify-content: center;
}

.Home-Text{
    font-size: 2.2em;
    font-family: Gowun;
    color: #dce0d9;
    text-align: center;
    margin-top: 30px;
} 

.desc {
    font-weight: bold;
}