#container-home{
    align-items: center;
    width: 80%;
    padding: 30px 40px;
    margin: auto;
}

#container-home .Temporary{
    color: #dce0d9;
    font-family: Gowun;
    font-size: 1em;
    font-weight: 200;
    text-align: center;
}


.Heading-Text{
    padding: 20px;
}

.Heading-Text .font-size{
    font-size: 8em;
    font-weight: 900;
}

.Heading-Text .subfont-size{
    font-size: 1.8em;
    font-family: Gowun;
    font-weight: 800;
}

#container .Text{
    text-decoration: none;
    text-align: center;
}


.Home-P{
    padding: 20px;
    justify-content: center;
}