#container{
    width: 80%;
    background-color: #dce0d9;
    border-radius: 20px;
    padding-top: 10px;
    height: 70px;
}

.Heading-Text{
    padding: 20px;
}

#container .Text{
    text-decoration: none;
    text-align: center;
}


.Home-P{
    padding: 20px;
    justify-content: center;
}