#header-inquiry{
    background-image: url(/public/images/Reception.png);
    background-position: center;
    align-items: center;
    text-align: center;
    padding: 1px 0px 1px 0px;
}

.font-inquiry{
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 90%;
    font-size: 5em;
    font-weight: 900;
    padding-bottom: 40px;
    text-shadow: 0px 0px 10px #31081f;
    background-color: rgba(0,0,0,0.6);
    border-radius: 10px;
}

/*Grids at the Inquiries/Reviews. Shoutout to https://cssgridgenerator.io/*/

.parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 8px;
    margin: 2% 10vh;
}
    
.div3 {
    grid-column: span 2 / span 2;
}
        

/*Form*/

#inquiryreviewform{
    display: flexbox;
    background-color: #dce0d9;
    padding: 50px;
    margin: 0 50px;
    justify-content: center;
    border-radius: 10px;
}

#label{
    color: #31081f;
    font-size: 1.2em;
    font-weight: bolder;
}

#input{
    border: 2px solid #31081f;
    border-radius:5px;
}

.input-box{
    border: 2px solid #31081f;
    border-radius: 5px;
}

.btn{
    background-color: #6b0f1a;
    padding: 10px 40px;
    border: 0;
    transition: 0.3s ease-in-out;
}

.btn-css{
    margin: 0;
    position: absolute;
    right: 42%;
    bottom: 28%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.btn:hover{
    background-color: #31081f;
}

.contents{
    font-family: Gowun !important;
    font-size: 1.1em !important;
    font-weight: 400 !important;
    margin-top: 10px;
}