#LoginReviewform{
    display: flexbox;
    background-color: #dce0d9;
    padding: 50px;
    margin: 0 100px;
    justify-content: center;
    border-radius: 10px;
}

#LoginReviewlabel{
    color: #31081f;
    font-size: 1.2em;
    font-weight: bolder;
}

#LoginReviewinput{
    border: 2px solid #31081f;
    border-radius:5px;
}

@media screen and (max-width:1024px) {
    #LoginReviewform{
        margin: 0 30px;
        padding: 30px;
    }
    #LoginReviewlabel{
        font-size: 1em;
    }
}