#LoginReviewform{
    display: flexbox;
    background-color: #dce0d9;
    padding: 50px;
    margin: 0 100px;
    justify-content: center;
    border-radius: 10px;
}

#LoginReviewlabel{
    color: #31081f;
    font-size: 1.2em;
    font-weight: bolder;
}

#LoginReviewinput{
    border: 2px solid #31081f;
    border-radius:5px;
}

#Status {
    text-align: center;
    padding: 20px;
    
}

#StatusText {
    background-color: #dce0d9;
    border-radius: 10px;
    width: 20%;
    padding: 5px;
    margin: auto;
}