#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #6b0f1a;
    padding: 5px 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    position: sticky; top: 0;
    z-index: 1;
}

#Navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

#Navbar li{
    list-style: none;
    padding: 0 10px;
    position: relative;
}

#Navbar li .a{
    margin-bottom: 25px;
    text-decoration: none;
    font-size: 1.15rem;
    font-weight: 700;
    color: #dce0d9;
    font-family: Typemonster;
    transition: 0.4s ease-in-out;
}

#Navbar li .a:hover{
    color: #31081f;
    font-weight: 900;
    font-style: italic;
    background-color: #e4cbce;
    border-radius: 5px;/*corner-Rounding, for Hover in Nav*/
    text-align: center;
    border: 1px solid #31081f;
    padding: 5px 60px;
}

#Hamburger {
    display: none;
}

/*Contains Home, Room, Events & inquiries*/
#container{
    width: 80%;
    background-color: #dce0d9;
    border-radius: 5px;
    padding: 10px 5px 10px 5px;
    height: 70px;
}


@media screen and (max-width:769px) {
    /*incase some columns need to get adjusted*/
    #parent-container{
        /* padding: 5px; */
        z-index: 999;
    }
    
    #Navbar{
        /*display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 15px;*/
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 30px;
        right: -300px;
        width: 300px;
        height: 100vh;
        background: #6b0f1a;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.2);
        padding: 40px 0 0 10px;
        transition: 0.5s ease-in-out;
    }
    
    #Navbar.active{
        right: 0px;
        position: fixed;
    }
    
    #Navbar li{
        list-style: none;
        padding: 20px 30px;
        position: relative;
    }
    #Navbar li .a{
        margin-bottom: 25px;
        text-decoration: none;
        font-size: 1.6rem;
        font-weight: 700;
        color: #dce0d9;
        font-family: Typemonster;
        transition: 0.3s ease-in-out;
    }
    
    #Navbar li .a:hover{
        display: grid;
        height: 80px;
        width: 300px;
        color: #31081f;
        font-size: 2rem;
        font-weight: 900;
        font-style: italic;
        background-color: #e4cbce;
        min-width: 100%;
        border-radius: 10px;/*corner-Rounding, for Hover in Nav*/
    }
    
    #Navbar li .a.login:hover{
        padding: 20px 150px;
    }
    
    #Navbar li .a.reg:hover{
        padding: 20px 100px;
    }
    
    
    #Navbar li .a.admin:hover{
        padding: 20px 140px;
    }
    
    #Navbar li .a:hover::after{
        content: " ";
        width: 30%;
        height: 2px;
        background: #31081f;
        bottom: -4px;
        left: 80px;
    }
    
    #Hamburger {
        display: block;
    }
    
    #Hamburger i{
        color: #dce0d9;
        font-size: 32px;
        cursor: pointer;
    }
}