#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #6b0f1a;
    padding: 5px 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    position: sticky; top: 0;
    z-index: 1;
}

#Navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

#Navbar li{
    list-style: none;
    padding: 0 10px;
    position: relative;
}

#Navbar li .a{
    margin-bottom: 25px;
    text-decoration: none;
    font-size: 1.15rem;
    font-weight: 700;
    color: #dce0d9;
    font-family: Typemonster;
    transition: 0.4s ease-in-out;
}

#Navbar li .a:hover{
    color: #31081f;
    font-weight: 900;
    font-style: italic;
    background-color: #e4cbce;
    border-radius: 5px;/*corner-Rounding, for Hover in Nav*/
    text-align: center;
    border: 1px solid #31081f;
    padding: 5px 60px;
}

#Hamburger {
    display: none;
}

/*Contains Home, Room, Events & inquiries*/
#container{
    background-color: #dce0d9;
    padding: 0 10px 10px 0;
    height: 70px;
}