nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #6b0f1a;
    padding: 5px 60px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
}

#Navbar{
    /*display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;*/
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 57px;
    right: -300px;
    width: 300px;
    height: 100vh;
    background: #5e0e17;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    padding: 40px 0 0 10px;
    transition: 0.5s ease-in-out;
}

#Navbar.active{
    right: 0px;
}

#Navbar li{
    list-style: none;
    padding: 10px 40px;
    position: relative;
}
#Navbar li .a{
    margin-bottom: 25px;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 400;
    color: #dce0d9;
    font-family: Typemonster;
    transition: 0.3s ease;
}

#Navbar li .a:hover{
    color: #808f85;
    font-size: 2rem;
    font-weight: 800;
    text-align: center;
    background-color: #e4cbce;
    padding: 20px 80px;
    min-width: 100%;
    text-align: center;
    border-radius: 1 solid;
    margin: 20px;
    flex: 1;
    right: 100px;
}

#Navbar li .a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background: #808f85;
    bottom: -4px;
    left: 80px;
}

#Hamburger {
    display: block;
}

#Hamburger i{
    color: #dce0d9;
    font-size: 24px;
    cursor: pointer;
}

@media screen and (max-width:769px) {
    /*incase some columns need to get adjusted*/
}