#header-room{
    background-image: url(/public/images/Rooms/SingleBedRoom.png);
    background-position: center;
    align-items: center;
    text-align: center;
    padding: 1px 0px 1px 0px;
}

.font-room{
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 90%;
    font-size: 5em;
    font-weight: 900;
    padding-bottom: 40px;
    text-shadow: 0px 0px 10px #31081f;
    background-color: rgba(0,0,0,0.6);
    border-radius: 10px;
}

.FormTitle {
    color: #31081f !important;
}

#Roomform{
    display: flexbox;
    background-color: #dce0d9;
    justify-content: center;
    border-radius: 10px;
    margin: 3% 20vh;
    padding: 20px;
}

#label{
    color: #31081f;
    font-size: 1.2em;
    font-weight: bolder;
}

#input{
    border: 2px solid #31081f;
    border-radius:5px;
}

#text-box {
    color: #31081f;
    background-color: #dce0d9;
    padding: 20px;
    margin: auto;
    width: 50%;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
}

.center {
    margin: auto;
    display: inline-block;
    align-items: center;
    text-align: center;
}


        