#header-venue{
    background-image: url(/public/images/Venues/MeetingRoomB.png);
    background-position: center;
    align-items: center;
    text-align: center;
    padding: 1px 0px 1px 0px;
}

.font-venue{ /*Yall have no idea how long this took me to get right.*/
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 90%;
    font-size: 5em;
    font-weight: 900;
    padding-bottom: 40px;
    text-shadow: 0px 0px 10px #31081f;
    background-color: rgba(0,0,0,0.6);
    border-radius: 10px;
}

.FormTitle {
    color: #31081f !important;
}

#Venueform{
    display: flexbox;
    background-color: #dce0d9;
    justify-content: center;
    border-radius: 10px;
    margin: 3% 20vh;
    padding: 20px;
}

#label{
    color: #31081f;
    font-size: 1.2em;
    font-weight: bolder;
}

#input{
    border: 2px solid #31081f;
    border-radius:5px;
}

#date-venue{
    
}

@media screen and (max-width:769px) {
    .font-venue{
        font-size: 2em;
        padding-bottom: 30px;
    }
    
    #header-venue{
        padding: 20px 0 30px 0;
    }
    
    #Venueform{
        margin: 5vh;
        padding: 20px;
    }

    #date-venue{
        width: 18vh;
    }
    
}

@media screen and (max-width:1024px){
    .font-venue{
        font-size: 4em;
        padding-bottom: 30px;
    }
    
    #header-venue{
        padding: 20px 0 10px 0;
    }
    
    #Venueform{
        margin: 14vh;
        padding: 10px;
    }

    #date-venue{
        width: 18vh;
    }
}

.center {
    margin: auto;
    display: inline-block;
    align-items: center;
    text-align: center;
}
   