@font-face {
    font-family: TypeMonster;
    src: url(/src/Fonts/TypeMons/TypeMonster.otf);
}

@font-face {
    font-family: Limelight;
    src: url(/src/Fonts/Limelight/Limelight-Regular.ttf);
}

@font-face {
    font-family: Gowun;
    src: url(/src/Fonts/Gowun/GowunBatang-Regular.ttf);
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box !important;
}  

body{
    min-height: 100vh;
    background-color: #31081f !important;
    /*
    background-image: url();
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    --This is if Image
    */
}

header{
    color: #dce0d9 !important;
}

/*Text Test, Delete/Modify if needed*/
h1{
    font-family: TypeMonster;
    text-align: center;
    color: #dce0d9 !important;
    padding: 20px;
}

/*Setup for Form -- maybe temp? -dani*/

form{
    width: 420px;
    background: #dce0d9;
    box-sizing: border-box;
    border: 1 solid #6b0f1a;
    border-radius: 5px;
    text-align: center;
    padding: 20px 10px;
    margin-top: 50px;
    margin-inline: 180px;
}

input{
    width: 100%;
    height: 70px;
    padding: 040px;
    margin: 30px 0;
    border: 1 solid;
    border-radius: 20px;
}


label{
    font-family: Gowun;
    color: #31081f !important;
    font-weight: 800;
    font-size: 1.4em;
}

.btn{
    background-color: #6b0f1a!important;
    border-color: #6b0f1a;
    color: #dce0d9;
}

/*class="Col", Setting for Routing*/

.Col{
    color: #dce0d9;
    font-family: Gowun;
    text-decoration: none;
}

.Heading-Text .font-size{
    font-size: 8em;
    font-weight: 900;
}

.Heading-Text .subfont-size{
    font-size: 1.8em;
    font-family: Gowun;
    font-weight: 800;
}

/*If logo is not an image*/

.List-text,
.Logo-text{
    font-family: Typemonster;
    font-size: 1.4em;
    font-weight: 800;
    color: #dce0d9;
    list-style: none;
    text-decoration: none;
    align-items: left !important;
    transition: 0.3s ease-in-out;
}

.List-text,
.Logo-text:hover{
    color: #808f85;
}

/*Text Testing*/
.LimeText{
    font-size: 4em;
    font-family: Limelight;
}

.Gowun{
    font-size: 3em;
    font-family: Gowun;
    color: #dce0d9;
    text-align: center;
}

/*For Logo image*/
.profile-photo{
    height: 100%;
    width: 50%;
}

/*GridList-i.e. Home, Room, Events, Inquiries Tab*/
.Home{
    font-size: 2em;
    font-family: Gowun;
    color: #31081f;
    text-align: center;
}

.Temporary{
    color: #dce0d9;
    width: auto;
}